.header {
  &__menubtn {
    @include button-style($padding: 0px 10px);
    @include celular { 
      display: block; 
    }
    color: $texto-oscuro; 
  }
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  li {
    @include icon-hover(.95);
    @include celular { 
      font-size: 40px;
    }
  }
  
  &__link {
    color: $texto-oscuro; 
    
    @include tableta { 
      font-size: 1.2rem; 
      margin: 0 10px; 
    }
    
    @include celular { 
      font-size: 16px; 
      margin: 0 8px; 
    }
  }
}

.header__icon,
.header__menubtn,
.header__cart,
.header__close {
  width: 35px;
  height: 30px;
  @include icon-hover;
  
  @include celular {
    width: 30px;
    height: 30px;
  }
}

.main__title {
  @extend %title;
  margin: 0;
  padding: 9px 0;
  color: $texto-oscuro; 
  
  @include tableta { 
    font-size: 3rem; 
  }
  
  @include celular { 
    font-size: 40px; 
  }
}

.main__text {
  font-size: 25px;
  color: $texto-oscuro; 
  font-weight: 500;
  
  @include tableta { 
    font-size: 1.2rem; 
  }
  
  @include celular { 
    font-size: 19px; 
  }
}

.products__item {
  @include flex-center(column, 20px);
  margin: 10px;
  align-items: center;
  overflow: hidden;
  @include box-shadow();
  background-color: $mainColor;
  color: $texto-oscuro; 
  
  @include celular {
    border-bottom: 2px solid $borderColor;
  }
}

.products__image {
  width: 240px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.4s ease;
  @include icon-hover(1.2);
  
  @include tableta {
    width: 155px;
    height: 200px;
  }
}

.products__name {
  font-size: 30px;
  color: $texto-oscuro; 
  
  @include celular { 
    font-size: 25px; 
  }
}

.products__price {
  font-size: 20px;
  color: $texto-oscuro; 
  opacity: 0.8;
  
  @include celular {
    font-size: 16px;
    margin: 10px;
  }
}

.products__button {
  @include button-style($bg: $mainColor, $color: $texto-oscuro);
  @include icon-hover;
  border: 2px solid $borderColor;
  
  &:hover {
    background-color: $secundaryColor;
    color: $texto-claro; 
  }
}

.cart {
  background-color: $mainColor;
  color: $texto-oscuro; 
  box-shadow: -19px 0px 20px rgba(0, 0, 0, 0.2);
  
  @include celular { 
    box-shadow: none; 
  }

  &__title {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid darken($mainColor, 20%);
    color: $texto-oscuro;
    
    @include celular { 
      font-size: 25px; 
    }
    
    @include tableta { 
      font-size: 20px; 
    }
  }

  &__item {
    border-bottom: 1px solid darken($mainColor, 10%);
    color: $texto-oscuro; 
  }

  &__image {
    width: 30%;
    
    @include celular { 
      width: 120px; 
    }
  }

  &__trash {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__closeIcon {
    @include icon-hover(1.2);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    
    @include celular { 
      width: 20px; 
      height: 20px; 
      top: 10px; 
      right: 10px; 
    }
  }

  &__description {
    font-size: 20px;
    font-weight: 600;
    color: $texto-oscuro; 
    
    @include celular {
      font-size: 18px;
      margin: 5px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__badge {
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 13px;
    right: 65px;
    background-color: #c0392b; 
    color: $texto-claro; 
    font-size: 10px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.showbadge {
      display: flex;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $texto-oscuro; 
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__label {
  font-family: $mainFuente;
  font-weight: 700;
  font-size: 16px;
  color: $texto-oscuro; 
}

.form__input,
.form__select,
.form__text {
  padding: 12px;
  font-family: $mainFuente;
  font-size: 16px;
  border: 2px solid $borderColor;
  border-radius: 4px;
  background-color: $mainColor; 
  color: $texto-oscuro; 

  &:focus {
    outline: 2px solid $secundaryColor;
    border-color: $secundaryColor;
  }
}

.form__text {
  resize: vertical;
  min-height: 100px;
}

.contact__button {
  @include button-style($bg: $secundaryColor, $color: $texto-claro);
  @include icon-hover (.9);
  padding: 14px;
  font-size: 18px;
  width: 100%;
  margin-top: 8px;
  border: none;
  
  &:hover {
    background-color: darken($secundaryColor, 10%);
    color: $texto-claro; 
  }
}

@media (hover: hover) and (pointer: fine) {
  .products__button:hover {
    background-color: $secundaryColor;
    color: $texto-claro; 
  }
  
  .header__link:hover,
  .footer__link:hover {
    color: $secundaryColor; 
    text-decoration: none;
  }
}