.header {
  width: 100%;
  padding: 20px 15px;
  background-color: $mainColor;
  @include flex-center(row, 0);
  justify-content: space-between;
  color: $texto-oscuro;

  &__logo {
    width: 280px;
    padding-left: 5.2rem;
    @include tableta { 
      padding-left: 5px;
      width: 150px;
    }
  }
  
  &__nav {
    @include flex-center(row, 35px);
    @include tableta { gap: 20px; }
  }

  &__link {
    @extend %link;
    @include tableta { font-size: 1rem; }
    color: $texto-oscuro; 
    
    &:hover {
      color: $secundaryColor; 
    }
  }

  &__user {
    @include flex-center(row, 30px);
    justify-content: flex-end;
    padding-left: 6rem;
    @include tableta {
      padding-left: 5px;
      gap: 20px;
    }
  }
  
  &__menunav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 188px;
    height: auto;
    padding: 14px;
    box-sizing: border-box;
    position: fixed;
    top: 9%;
    left: -100%;
    z-index: 1000; 
    transition: left 0.3s ease-in-out; 
    background-color: $mainColor;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
    color: $texto-oscuro; 
    
    @include celular { 
      box-shadow: none; 
    }
    
    &.shownav {
      left: 0;
      @include celular { 
        width: 30%; 
        height: 90%;
      }
    }
  }
  
  &__close {
    width: 35px;
    align-self: flex-end;
  }
}

.main {
  &__banner {
    width: 100%;
    @include flex-center(column, 20px);
    padding: 50px 0;
    background-image: url("../img/fondo3.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: $texto-oscuro; 
    
    @include tableta { 
      padding: 30px 0; 
    }
  }
}

.products {
  width: 100%;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  
  @include tableta { 
    grid-template-columns: repeat(2, 1fr); 
  }
  
  @include celular {
    grid-template-columns: 1fr;
    padding: 0px 20px;
  }
}

.cart {
  width: 500px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 9%;
  right: -100%;
  transition: right 0.3s ease-in-out;
  background-color: $mainColor; 
  color: $texto-oscuro; 
  
  &.show {
    right: 0;
  }

  @include tableta {
    width: 400px;
    top: 80px;
  }
  
  @include celular {
    width: 100%;
  }

  &__item {
    @include flex-center(row, 0);
    justify-content: space-between;
    padding: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    
    @include celular {
      flex-direction: column;
      gap: 15px;
    }
  }
}

.size-guide {
  padding: 50px 20px;
  background-color: $mainColor;
  text-align: center;
  margin: 10px 0;
  border-radius: 10%;
  color: $texto-oscuro; 

  @include tableta {
    padding: 40px 15px;
  }

  @include celular {
    padding: 30px 10px;
    margin: 30px 0;
  }

  &__title {
    @extend %title;
    font-size: 36px;
    margin-bottom: 15px;
    color: $texto-oscuro; 

    @include celular {
      font-size: 28px;
    }
  }

  &__text {
    font-family: $mainFuente;
    font-size: 18px;
    color: $texto-oscuro; 
    max-width: 600px;
    margin: 0 auto 25px;

    @include celular {
      font-size: 16px;
    }
  }

  &__button {
    @include button-style($bg: $secundaryColor, $color: $texto-claro, $padding: 12px 24px);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;

    &:hover {
      background-color: darken($secundaryColor, 10%);
      color: $texto-claro; 
    }
  }
}

.banner2 {
  height: 265px;
  width: 100%;
  @include flex-center(column, 0px);
  padding: 55px 0;
  margin: 24px 0;
  background-image: url("../img/secondbanner.webp");
  background-position: center;
  background-size: cover;
  color: $texto-oscuro; 
}

.form {
  padding: 40px 20px;
  opacity: 80%;
  width: 100%;
  background-image: url("../img/fondo-form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: $texto-oscuro; 
   position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85); 
    z-index: 1;
  }
  
  > * {
    position: relative;
    z-index: 2;
  }
}

.comments {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
  color: $texto-oscuro; 

  @include tableta {
    padding: 50px 15px;
  }

  @include celular {
    padding: 40px 10px;
  }

  &__title {
    @extend %title;
    font-size: 36px;
    margin-bottom: 40px;
    color: $texto-oscuro; 

    @include celular {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;

    @include tableta {
      grid-template-columns: repeat(2, 1fr);
    }

    @include celular {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__item {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px $colorShadow;
    text-align: left;
    color: $texto-oscuro; 

    @include celular {
      padding: 20px;
    }
  }

  &__text {
    font-family: $mainFuente;
    font-size: 16px;
    font-style: italic;
    color: $texto-oscuro; 
    margin-bottom: 15px;
    line-height: 1.5;
  }

  &__author {
    font-family: $mainFuente;
    font-size: 14px;
    font-weight: 700;
    color: $secundaryColor; 
    text-align: right;
    margin: 0;
  }
}

.footer {
  @include flex-center(column, 15px);
  align-items: center;
  padding: 30px;
  margin-top: 30px;
  border-top: 2px solid $borderColor;
  background-color: $footerBg;
  color: $texto-oscuro; 

  &__logo {
    width: 200px;
  }

  &__links {
    @include flex-center(row, 20px);
  }

  &__link {
    @extend %link;
    color: $texto-oscuro;
    &:hover {
      color: $secundaryColor;
    }
  }

  &__text {
    color: $texto-oscuro; 
    @include celular {
      text-align: center;
    }
  }
}