@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  gap: $gap;
}

@mixin box-shadow($color: $colorShadow) {
  box-shadow: 2px 2px 4px $color;
}

@mixin button-style($bg: $mainColor, $color: $texto-oscuro, $padding: 10px 15px) {
  background-color: $bg;
  color: $color;
  border: none;
  padding: $padding;
  border-radius: 4px;
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 5px;
  

  @if (lightness($bg) > 50) {
    color: $texto-oscuro; 
  } @else {
    color: $texto-claro;  
  }
}

@mixin icon-hover($scale-amount: 1.1) { 
  transition: transform 0.2s ease;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      transform: scale($scale-amount);
    }
  }
}

@mixin tableta {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin celular {
  @media (max-width: 700px) {
    @content;
  }
}