$colorShadow: #847c7c;               
$mainFuente: "Oswald", sans-serif;   
$mainColor: #ffffff;                 
$secundaryColor: #1e4a4a;            
$borderColor: #000000;               
$footerBg: #f8f9fa;                  
$texto-oscuro: #000000;              
$texto-claro: #ffffff;               
$texto-gris: #333333;                

%title {
  font-weight: 700;
  color: $texto-oscuro;              
  font-size: 60px;
}

%link {
  font-size: 23px;
  font-weight: 800;
  text-decoration: none;
  color: $texto-oscuro;              
}